.container{
    display: flex;  
    justify-content: center; 
    align-content: center; 
    align-items: center; 
     

    margin-top: 20px;
    
}

.select{
    margin-left: 25px;
    margin-right: 25px;
}