.form{
    border-radius: 1px;
    border:cornsilk;
    background-color: rgba(231, 222, 222, 0.4);
    padding: 30px;
    padding-right: 5rem;
    padding-left: 5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    box-shadow: 0px 0px 2px rgb(230, 220, 220);

}

.form button{
    display: flex;  
    justify-content: center; 
    align-content: center; 
    align-items: center; 
    margin-right: 20px;
    background-color: rgb(15, 1, 27);
    color: rgb(226, 217, 202);
    font-size: 22px;
    cursor: pointer;
}

.form button:disabled{
    color:rgb(131, 1, 1);
}

.description{
    resize: none;
    height: 125px;
}

.platforms{
    resize: none;
    height: 50px;
}


.container{
    display: flex;  
    justify-content: center; 
    align-content: center; 
    align-items: center; 
    margin-top: 2px;
    margin-bottom: 2px;
    /* background-image: url(../../img/image\ 7.jpg) */
}

.container label{
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(226, 217, 202);

}

.container input{
    margin-top: 5px;
    margin-bottom: 10px;
}

.container textarea{
    margin-top: 5px;
    margin-bottom: 10px;
}

.container select{
    margin-top: 5px;
    margin-bottom: 10px;
}

.errors{
    color: rgb(189, 3, 3);
    margin-top: 0px;
    margin-bottom: 2px;
    font-size: 1.2rem;
    
}

.newVideogame{
    background-color: black;
}

