.form{
    border-radius: 2px;
    border:cornsilk;
    background-color: rgb(10, 10, 10);
    padding: 30px;
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 15px;
}


.container{
    display: flex;  
    justify-content: center; 
    align-content: center; 
    align-items: center; 
    margin-top: 35px;
    margin-bottom: 2px;
   
}


.container label{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;

}

.container input{
    margin-top: 5px;
    margin-bottom: 10px;
}

.container select{
    margin-top: 5px;
    margin-bottom: 10px;
}

.errors{
    color: white;
    margin-top: 4px;
    margin-bottom: 4px;
}