.container{
    margin-top: 1px;
}

.notFound{
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 2px;
    margin-top: 33px;
    font-size: 34px;
}

.loading{
    color: white;
}

.videogame{
    display: inline-block;  
    /* Para centrar */
    justify-content: center; 
    align-content: center; 
    align-items: center; 
    flex-wrap: wrap;        
    text-align: center;
    padding: 1px;
    border-radius: 3px;
    margin: 40px;    
    border: 1.6px solid rgb(29, 16, 4);
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    padding-right: 0px;
    background-color: rgb(10, 10, 10);
    width: 25%;
    height: 20%;

}

/* .container_videogame:hover{
    

} */
