.landingPage{
        background-size: cover; 
        background-position: center 70%;
        overflow:hidden;
        width: 100vw;
        height: 100vh;   
        background-image: url(../../img/landing.jpg);
}

