.container{
    display: flex;  
    justify-content: center; 
    align-content: center; 
    align-items: center; 
    margin-top: 25px;
    margin-bottom: 25px; 
    background-image: url(../../img/image\ 7.jpg);
}

