.name{
    text-decoration: none;
    color: white;
    font-size: 10px;
}

.genres{
    color: white;
}

.image{
   border-radius: 2px;
   bottom: auto;
}

.image img{
    margin-bottom: 0.5rem;
    display: block;
    border-radius: 2px;
    bottom: auto;
    max-height: 260px;
    width:  100%;
    height: 20%;
    bottom: 20%;
    
   
}