.container{
    text-decoration: none;
    padding: 20px;

}

.name{
    text-decoration: none;
    color: rgb(226, 217, 202);
    font-size: 10px;
    margin-top: 0.5rem;
}

.genres{
    color: rgb(226, 217, 202);
    margin-top: 1.25rem;
}

.image{
   border-radius: 2px;
   bottom: auto;
   display: flex;
   justify-content: center;
   align-content: center;
   align-items: center;

}

.image img{
    display: block;
    
   
    height: 192px;
    width: 20rem;
    object-fit: cover;
    object-position: center center;
    box-shadow: 3px 3px 5px rgb(20 20 20 / 80%);

   
}