.container{
    background-color: black;
    padding: 20px;
    box-shadow: 1 0 20px rgb(214, 206, 196);
}

.links{
    color:white;
    text-decoration: none;
    display: flex;  
    justify-content: center; 
    align-content: center; 
    align-items: center; 
    margin-top: 1px;
    margin-bottom: 2px;
    font-size: 30px;
  
}

.links:hover{
    text-decoration: none;
    display: flex;  
    justify-content: center; 
    align-content: center; 
    align-items: center;    
    font-size: 30px;
}