.container{
    background-color: rgb(31, 2, 31);
    padding: 8px;
    box-shadow: 0px 0px 10px rgb(51, 2, 51);
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center; 
    align-content: center; 
    align-items: center; 
    flex-wrap: wrap;     
}


.links{
    color:rgb(255, 255, 255);
    text-decoration: none;
    display: flex;  
    justify-content: center; 
    align-content: center; 
    align-items: center; 
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 102px;
    margin-right: 50px;
    font-size: 22px;
    box-shadow: 0px 0px 0.1px rgb(84, 39, 209);
    padding: 10px
}

.links p{
  margin-right: 8px;
  margin-left: 8px;
}

.links:hover{
    color:rgb(228, 205, 205);
    display: flex;  
    justify-content: center; 
    align-content: center; 
    align-items: center; 
    box-shadow: 0px 0px 0.4px rgb(213, 207, 229);
    
}

.home{
    margin-right: 2.8rem;
}

.icon{
    margin-left: 3.2rem;
}

.create{
    margin-left: 30px;
    
}