.button{
    background-color: #410566;
    border-radius: 6px; 
    text-align: center;
    margin: 4px 2px;
    transition: 0.4s;
    opacity: 0.95;
    font-size: 46px;
    margin: 10px;
    padding: 9px 18px;
    text-align: center;
    box-shadow: 0 0 2px rgb(13, 4, 133);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 570px;
    bottom: 270px;
    width: 180px;
    cursor: pointer;
    color: rgb(219, 215, 245);
    text-decoration: none;
    opacity: 0s;
    
}

.button:hover{
    background-color: #140724;
    border-radius:  8px;
    background-position: right center; 
    color: rgb(205, 201, 231);
    text-decoration: none;
    box-shadow: 0 0 25px rgb(6, 3, 37);
    background-color: 0 0 40px rgb(122, 96, 39);
    opacity: 0s;
    transform: scale(1.05);
    transition: transform .3s ease-in-out;

}